@{
    ViewData["Title"] = "Home Page";
}
<div style="background: url('/hero.jpg') no-repeat fixed top center; background-size: cover;    margin: -4vh -3vw;
    min-height: 80vh;">
    <div class="jumbotron" style="background-color: transparent">
        <h1 style="text-align:center;color:#f80652;font-size:8vw;">Contoso University</h1>
    </div>
    <div class="row" style="margin: 0; padding: 10vh 2vw; background-color: rgba(255,255,255,.7);">
        <div class="col-md-4">
            <h2>Academics</h2>
            <p>
                Contoso University is a completely awesome university.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Admissions</h2>
            <p>Please come here.</p>
            <p><a class="btn btn-default" href="#">Apply now &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Activities</h2>
            <p>Look at all the great things we have going on.</p>
            <p><a class="btn btn-default" href="#">Do something &raquo;</a></p>
        </div>
    </div>
</div>