@{
    ViewData["Title"] = "LDS Movies Web App - Home";
}

<div class="text-center">
    <h1 class="display-4">LDS Movies Web App</h1>
    <p>Search for <a href="/Movies">clean LDS films</a>.</p>
</div>
